* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #2b1d0f;
  color: #ffffff;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
}
body::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

header nav {
  background-color: #212121;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header nav h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header nav form {
  display: flex;
  justify-content: center;
}

form input[type='text'],
form button[type='submit'] {
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
  padding: 10px;
}

form input[type='text'] {
  flex-grow: 1;
  margin-right: 10px;
  width: 50vw;
}

form button[type='submit'] {
  background-color: #06fc0667;
  font-weight: 600;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}

form button[type='submit']:hover {
  background-color: #06fc062d;
}

/* Main Container */
.recipe-container {
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  place-items: center;
}

.recipe {
  background-color: #d4d4d4;
  display: flex;
  flex-direction: column;
  color: #000000;
  border-radius: 8px;
  box-shadow:
    0 5px 10px rgba(78, 73, 73, 0.1),
    -5px -5px 10px rgba(34, 34, 34, 0.5);
  /* cursor: pointer; */
  max-width: 350px;
  transition: transform 0.3s ease-in-out;
}

.recipe:hover {
  background-color: #ffffff;
  transform: scale(1.02);
}

.recipe:hover .view-recipe-btn {
  background-color: #d4d4d4;
}

.recipe img {
  height: 300px;
}

.recipe h3 {
  font-size: 24px;
  margin-block: 5px;
}

.recipe p {
  font-size: 20px;
  color: #4a4a4a;
  margin: 5px 0;
}

.recipe span {
  font-weight: 600;
}

.view-recipe-btn {
  background-color: #ffffff;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.view-recipe-btn:hover {
  background-color: #d4d4d4;
}

.recipe-popup {
  background-color: #694c2f;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 40%;
  height: 60%;
  font-size: 20px;
  border-radius: 12px;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}

.recipe-popup::-webkit-scrollbar {
  width: 10px;
}

.recipe-popup::-webkit-scrollbar-thumb {
  background-color: #b5b5ba;
  border: 16px;
  -webkit-border-radius: 16px;
}

.recipe-content {
  padding: 30px;
}

.recipeName {
  text-align-last: center;
  text-transform: uppercase;
  text-decoration: 2px underline;
  margin: -10px 0 20px 0;
}

.ingredientsHeading {
  margin-bottom: 10px;
}

.instructionsHeading {
  margin-block: 20px 10px;
}

.instructions p {
  line-height: 30px;
  white-space: pre-line;
}

.recipe-popup-close-btn {
  background-color: #06fc06a4;
  color: #ffffff;
  border: none;
  font-size: 18px;
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}

.recipe-popup-close-btn:hover {
  background-color: #06fc066e;
}

@media screen and (max-width: 750px) {
  header nav {
    flex-direction: column;
  }

  header nav form {
    width: 80vw;
    margin-top: 20px;
  }
}
